*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; 
  font-family: "Lato", sans-serif;  
  height: 100vh;
  position: relative;

  background-image: url(./img/vienna_bg.jpg);
    background-size: cover;
  background-position: top;
}

.main-container {
    height: 80vh;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: .5rem;
    backdrop-filter: blur(1rem);
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.3));
    box-shadow: 0 1rem 10rem rgba(0, 0, 0, .2);
}

.input-box {
  display: block;
  width: 100%;
  margin-bottom: 5rem;
}

.input-box__input {
  border: rgb(224, 223, 223) 2px solid;
  background-color: transparent;
  padding: 1rem;
  border-radius: 3px;
  height: 3rem;
  width: 100%;
  font-size: 1.6rem;
  color: white;
  transition: all .3s;
}
.input-box__input:hover,
.input-box__input:active {
  background-color: white;
  border: none;
  color: #777;
}

.weather-box {
  display: block;
  color: white;
  text-align: center;
}

